<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="card-1">
            <div>
                <h1>Welcome<br>to<br>Social Media App</h1>
            </div>
            <div>
                <img src="images/around-the-world-128px.png" alt="A picture of travel">
            </div>
            <div>
                <a href="/signup" class="btn">Enter</a>
            </div>

        </div>
</body>

</html>