<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/reset.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="css/myStyle.css">
    <script src="https://kit.fontawesome.com/56bcff738d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container row">
            <% posts.forEach(post => { %>
                <div class="card col offset-2" style="max-width: 18rem;">
                    <% if(post.imageUrl) { %>
                        <img src='<%=post.imageUrl%>' class="card-img-top" alt="..." style="height: 190px; border-radius: 8px 8px 0 0; padding: 5px 0 0 0;">
                    <% } %>
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;"><%=post.title%></h5>
                        <div class="row">
                            <button class="del btn btn-danger col-4"><i class="fas fa-trash-alt"></i></button>
                            <button class="edit btn btn-primary col-4" data-id='<%=post._id%>'><i class="fas fa-edit"></i></button>
                            <button class="addLike btn col-4" style="background-color: cornflowerblue;"><i class="fas fa-heart" style="color: tomato; height: 20px;"></i></button>
                        </div>
                    </div>
                </div>
            <% }) %>
    </div>

    <h2>
        <%= user.userName %>
    </h2>

    <form action="/post/createPost" enctype="multipart/form-data" method='POST'>
        <input type="text" name="imageTitle">
        <input type="file" name='myFile'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>

</html>