<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <!-- CSS Styles Link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <header>
            <%- include('partials/header') -%>
        </header>
        <div class="sign-up container-fluid d-flex justify-content-center align-items-center">
            <div class="col-4">
                <h1 class="text-light text-center">Join<br> us<br> today!</h1>
            </div>

            <div class="col-8 d-flex flex-column card sign-up-card">
                <h2>Sign up for a free account</h2>
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el=> { %>
                        <div class="alert alert-danger">
                            <%= el.msg %>
                        </div>
                    <% }) %>
                 <% } %>
                <form action="/signup" method="POST" class="sign-up-form">
                    <input type="text" name="userName" placeholder="User Name" class="form-control">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                    <input type="password" name="password" placeholder="Password" class="form-control">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control">
                    <input type="submit" value="Register" class="btn btn-dark">
                </form>

                <span>If you already have an account, <a href="/login">Login</a></span>
            </div>
        </div>
    </div>
</body>

</html>