.posts-container {
    background-color: #7A9E7E !important;
    border-radius: 15px;
    box-shadow: 0 30px 60px 0 rgba(255, 255, 255, 0.089);
}
.row {
    justify-content: center;
    align-items: center;
}

.card {
    height: 100%;
    max-width: 18rem !important;
    padding-top: 1em;
    background-color: #D8DDEF !important;
    border-radius: 15px !important;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.5);
}

.card-img-top {
    height: 190px;
    border-radius: 15px !important;
    /* padding: 5px 0 0 0; */
}

img {
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    width: 26.66% !important;
    margin-right: 5px;
    outline: none;
    border-style: none;
    border-radius: 0 !important;
}

.btn:first-child {
    border-radius: 15px 0 0 15px !important;
}

.btn:last-child {
    border-radius: 0 15px 15px 0 !important;
}

.addLike {
    background-color: cornflowerblue;
}

.addLike i {
    color: tomato;
    height: 20px;
}

/* Feed Styles */

.post-time {
    color: rgba(0,0,0, 0.3)
}
